<footer class="footer py-5">
  <img src="../../assets/sitting-character.png.png" width="130" height="120" class="absolute">
  <hr style="margin-top: 0;" />
  <div class="container">
    <div class="row d-flex justify-content-between px-5">
      <!-- About Section -->
      <div class="col-6 col-md-2 mb-1"> 
        <ul class="list-unstyled text-muted">
          <li><a href="#">About us</a></li>
        </ul>
      </div>

      <!-- Contact Section -->
      <div class="col-6 col-md-2 mb-1">        
        <ul class="list-unstyled text-muted">
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>

      <!-- For Terms of service -->
      <div class="col-6 col-md-2 mb-1">
        <ul class="list-unstyled text-muted">
          <li><a href="#">Terms of service</a></li>
        </ul>
      </div>

      <!-- Privacy policy section -->
      <div class="col-6 col-md-2 mb-1">
        <ul class="list-unstyled text-muted">
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>

      <!-- GDPR compliance -->
      <div class="col-6 col-md-2 mb-1">
       
        <ul class="list-unstyled text-muted">
          <li><a href="#">GDPR Compliance</a></li>
        </ul>
      </div>

    </div>

  
    <!-- Logo & Social Media -->
    <div class="text-center">
      <h5 class="fw-bold">
        <img src="../../assets/eventDeskLogo.png" alt="EventDesk.io Logo" width="25" height="25" class="me-2 my-4">
        EventDesk.io
      </h5>
      <p class="text-muted">© 2025 HeroCore. All rights reserved.</p>

      <!-- Social Media Icons -->
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>
