<div class="ion-pad">
  <div class="min-vh-100 d-flex flex-column align-items-center justify-content-center text-center bg-cover bg-center"
    style="background-image: url('YOUR_IMAGE_URL');">
    <div class="w-100 mw-75 ">


      <header class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4 py-2">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <a class="navbar-brand d-flex align-items-center" href="#" (click)="navigateToHome()">
            <img src="../../assets/eventDeskLogo.png" alt="Logo" width="25" height="25" class="me-2">
            <span class="h5 fw-regular mb-0 fs-5">EventDesk.io</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>

          <nav class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav gap-4">
              <li class="nav-item"><a href="#" class="nav-link">About</a></li>
              <li class="nav-item"><a href="#feature" class="nav-link">Feature</a></li>
              <li class="nav-item"><a href="#footer" class="nav-link">Contact</a></li>
              <li class="nav-item"> <a
                  class="nav-link application-link text-primary fw-regular hover-pointer text-decoration-none"
                  (click)="navigateToApplication()">We're Hiring</a></li>
            </ul>
          </nav>


        </div>
      </header>



      <div class="main-section">
        <h2 class="h2 pt-5 fw-bold">
          A mobile-first, full-featured <span class="text-primary">event management</span> software
        </h2>



        <p class="text-secondary mt-2">
          Plan smarter, collaborate better, and deliver events that wow—effortlessly!
        </p>


        <div class="mt-4 d-flex flex-column flex-md-row align-items-center justify-content-center gap-2">
          <input type="email" placeholder="Enter your email id" class="form-control w-50 w-md-100">
          <button class="classic-btn btn btn-primary w-md-auto">Schedule a demo</button>
        </div>
        
        <!-- Swiper Container -->
        <swiper-container slides-per-view="1" loop="true" autoplay-delay="3000" autoplay-disable-on-interaction="false"
          pagination="true" class="swiper-container p-5">
          <swiper-slide *ngFor="let image of featureimages">
            <p>{{image.context}}</p>
            <img [src]="image.imagesrc" alt="Event Image" class="carousel-image" />
          </swiper-slide>
        </swiper-container>

      </div>

      <section id="feature" class="features-section mt-5 row g-3">
        <h4 class="h4 fw-bold">
          Every aspect of event management, streamlined
        </h4>
        <div class="col-md-4">
          <div class="feature-card bg-primary bg-opacity-10 rounded shadow-sm">
            <img src="../../assets/Taskmanagementool.png" alt="Task Management Tool" class="featureimage">
            <h3 class="fw-medium sub-title">Task Management Tool</h3>
            <p class="feature-title text-secondary small ">Keep your event on track with intuitive task management.
              Assign, monitor, and complete tasks effortlessly.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="feature-card bg-warning bg-opacity-10 rounded shadow-sm">
            <img src="../../assets/roleandcollab.png" alt="Roles and Collaboration" class="featureimage">
            <h3 class="fw-medium sub-title">Roles and Collaboration</h3>
            <p class="feature-title text-secondary small ">Vendors collaborate with providers, event planners organize
              seamlessly, and co-planners share ideas with clients.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="feature-card bg-danger bg-opacity-10 rounded shadow-sm">
            <img src="../../assets/magicinvite.png" alt="Magic Invite Page" class="featureimage">
            <h3 class="fw-medium sub-title">Magic Invite Page</h3>
            <p class="feature-title text-secondary small ">Every guest receives a personalized, static webpage with
              event
              details and RSVP options.</p>
          </div>
        </div>
      </section>


      <section class="mt-5 bg-light p-4 rounded">
        <h4 class="h4 fw-bold">Plan and manage your events anytime, anywhere!</h4>

        <div class="device-carousel">
          <swiper-container slides-per-view="1" loop="true" autoplay-delay="3000"
            autoplay-disable-on-interaction="false" pagination="true" class="device-swiper-container p-5">

            <swiper-slide *ngFor="let image of deviceImages">
              <div class="device-carousel-card">
                <img [src]="image.imagesrc" alt="Event Image" class="device-carousel-image" />
                <div class="device-carousel-content">
                  <h6 class="fw-bold">{{image.title}}</h6>
                  <p class="text-secondary">{{image.context}}</p>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>

        </div>


      </section>

      <section class="final-section-context">
        <h6>Why you’ll fall in love with <b>EventDesk</b>.</h6>
        <br>
        <h2><b>"…It’s the tool you didn’t know you needed until now."</b></h2>
        <br>
        <h6>From seamless task management to effortless collaboration and stunning invites, EventDesk transforms the way
          events come to life.</h6>

      </section>
      <app-prelaunch-footer id="footer"></app-prelaunch-footer>
    </div>
  </div>

</div>