<div class="carousel">
  <div class="list">
    <div class="item">
      <img src="../../assets/1 3.png">
      <div class="introduce">
        <div class="title">Effortless Event & Vendor Management
        </div>
        <!-- <div class="topic">Effortless event management hub</div> -->
        <div class="des">
          Organize events with ease manage vendors, guests, and invitations all in one place. Send invites, track RSVPs, and coordinate seamlessly for a flawless execution.
        </div>
      </div>
    </div>

    <div class="item">
      <img src="../../assets/2 3.png">
      <div class="introduce">
        <div class="title">Smart Task Management & Budget Control
        </div>
        <!-- <div class="topic">Streamlined tasks, real-time budgeting</div> -->
        <div class="des">
          Streamline your workflow with intuitive task management and real-time budget tracking. Stay organized, allocate resources wisely, and ensure every detail is executed seamlessly
        </div>
      </div>
    </div>

    <div class="item">
      <img src="../../assets/3 4.png">
      <div class="introduce">
        <div class="title">Collaborative Chat for Seamless Engagement</div>
        <!-- <div class="topic">Centralized event chat hub</div> -->
        <div class="des">
          Connect organizers, vendors, and guests in a centralized chat space. Share updates, coordinate effortlessly, and keep conversations flowing for a well-organized event.
        </div>
      </div>
    </div>

  </div>

  <div class="arrows absolute">
    <button id="prev" (click)="showSlider('prev')"><</button>
    <button id="next" (click)="showSlider('next')">></button>
  </div>
</div>
