<div class="carousel">
  <div class="list">
    <div class="item">
      <img src="../../assets/1 3.png">
      <div class="introduce">
        <div class="title">Features</div>
        <div class="topic">Managent Events</div>
        <div class="des">
          Manage Events, vendors, guests, and invitations seamlessly.
        </div>
      </div>
    </div>

    <div class="item">
      <img src="../../assets/2 3.png">
      <div class="introduce">
        <div class="title">DESIGN SLIDER</div>
        <div class="topic">Event Tracker</div>
        <div class="des">
          Track event budgets and manage tasks effortlessly.
        </div>
      </div>
    </div>

    <div class="item">
      <img src="../../assets/3 4.png">
      <div class="introduce">
        <div class="title">DESIGN SLIDER</div>
        <div class="topic">Chat Support</div>
        <div class="des">
          Drive engagement with a collaborative chat interface.
        </div>
      </div>
    </div>

    <div class="item">
      <img src="../../assets/2 3.png">
      <div class="introduce">
        <div class="title">DESIGN SLIDER</div>
        <div class="topic">Manage events</div>
        <div class="des">
          Manage Events, vendors, guests, and invitations seamlessly.
        </div>
      </div>
    </div>
  </div>

  <div class="arrows absolute">
    <button id="prev" (click)="showSlider('prev')"><</button>
    <button id="next" (click)="showSlider('next')">></button>
  </div>
</div>
